@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Durali Alıç Mh.<br />
    928.Sk 30/10 MAMAK/ANKARA<br />
    <abbr title="Phone"><strong>Mobile:</strong></abbr>
    <a href="tel://+905058198022">0(505) 819 80 22</a>
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:mustafadagtekin@gmail.com">mustafadagtekin@gmail.com</a><br />
</address>